<!DOCTYPE HTML>
	<meta charset = "UTF-8" />
	<head>
		<title> Remove Task From Schedule </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="static/main.css" type="text/css">
		<link rel="stylesheet" href="static/schedule.css" type="text/css">
	</head>
	<body>
		<header>
			Ahead Schedule Builder
		</header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="remove-task card">
						<h1>Remove a task</h1>
						<form action="" method="POST" class="form">
							<div class="form-group">
								<label for="taskID">Select the ID of the task you would like to remove:</label>
								<select name="taskID" id="taskID" class="form-control">
									{% for task in user.tasks %}
										<option value={{task.id}}> 
											Task {{id}} (Name: {{task.name}} @ {{task.time}} on {{task.date}} 
										</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-primary" value="Remove task">
							</div>
						</form>
						<a href="viewSchedule">Back to schedule</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</HTML>